* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #8B4513;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  width: 460px;
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: #46230a;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #46230a;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #46230a;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #8B4513;;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}

.input-padrao {
   display: block;
   margin: 0 0 20px;
   padding: 10px  20px;
   width: 100%;
}

#mensagem {
   height: 6em;
}


/* Aparição do form*/
form {
   overflow: hidden;
   animation: fade  0.5s;
}

form .input-block {
   animation-name: move;
   animation-duration: 600ms;
   animation-delay: 250ms;
}


@keyframes move {
  from {
   opacity: 0;
   transform: translateX(-35%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*sair o form*/

.form-hide {
  animation: down 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.75, 0.82, 0.165, 1);
}

@keyframes down{
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

/* form no-no*/

form.validate-error {
  animation: nono 250ms linear, fade paused;
  animation-iteration-count: 2; 
}

@keyframes nono {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-13%);
  }
  70% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}

/* squares */

.squares li {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  position: absolute;
  bottom: -40;
  animation: up 1s infinite;
  /*animation-direction: reverse;*/ 
}


@keyframes up {
  from {
    opacity: 0.6;
    transform: translateY(0) ;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.6;
    transform: translateY(-900px) rotate(960deg);
  }
}